.custom-chart {
	width: 60%;
	background: rgba(255, 255, 255, 0.55);
	backdrop-filter: blur(4.5px);
	-webkit-backdrop-filter: blur(4.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
