.handle-change-password {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	button {
		padding: 7px;
		border-radius: 5px;
		border: none;

		&:first-child {
			background-color: rgb(235, 98, 77);
			width: 100%;
			font-size: 16px;
			color: white;
		}
		&:last-child {
			background-color: rgb(55, 172, 235);
			width: 100%;
			font-size: 16px;
			color: white;
		}
	}
}
