.handel-delete {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	button {
		padding: 10px 30px;
		border: none;
		border-radius: 10px;
	}
}
.modal-center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
