/*   color variables */
$clr-primary: #81d4fa;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-link: #2962ff;

/*   border radius */
$radius: 0.2rem;

.right-content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	// justify-content: space-between;
	flex: 5;
}
.menu-card {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 30px;
	.card-items {
		padding: 20px 30px;
		width: 100%;
		&-title {
			font-size: 18px;
			padding: 7px;
			background-color: #1ad0f0;
			border-radius: 7px;
			color: black;
		}
		&:nth-child(1) {
			background: rgba(255, 255, 255, 0.55);
			backdrop-filter: blur(4.5px);
			-webkit-backdrop-filter: blur(4.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
		}
		&:nth-child(2) {
			background: rgba(255, 255, 255, 0.55);
			backdrop-filter: blur(4.5px);
			-webkit-backdrop-filter: blur(4.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
		}
		&:nth-child(3) {
			background: rgba(255, 255, 255, 0.55);
			backdrop-filter: blur(4.5px);
			-webkit-backdrop-filter: blur(4.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
		}
	}
	.card-item {
		display: flex;
		align-items: center;
		border-radius: 15px;
		gap: 30px;
		margin-top: 20px;
		padding: 0 30px;
		justify-content: center;

		img {
			width: 60px;
			height: 60px;
		}

		.card-data {
			display: flex;
			flex-direction: column;
			align-items: center;
			span {
				font-size: 40px;
				color: black;
			}
		}
	}
}
// table
.avatar-status {
	position: relative;
	width: 50px;
	height: 50px;
}
.avatar-status ._status {
	width: 15px;
	height: 15px;
	border-radius: 100rem;
	background-color: #13d2b8;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	box-shadow: 0 0 0 2px white;
}

.image-cover {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.action-lock {
	padding: 5px;
	background-color: #46c4ff;
	border-radius: 8px;
}
.action-lock img {
	width: 30px;
	height: 30px;
}

.table {
	width: 70%;
	flex: 3;
	background: rgba(255, 255, 255, 0.55);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4.5px);
	-webkit-backdrop-filter: blur(4.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 5px;
	// padding: 0 20px;
	padding: 0 0 0 20px;
}
.table table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	color: #697b92;
}
.table tr {
	border-bottom: 1px solid #e6e9ec;
	display: table;
	width: 100%;
}
.table tbody {
	overflow-y: auto;
	display: block;
	max-height: 300px;
	&::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 10px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
.table th {
	font-size: 16px;
	color: #333;
	text-align: left;
	font-weight: 600;
	padding: 1rem;
	white-space: nowrap;
}
.custom-title {
	text-align: center !important;
}
.table td {
	vertical-align: middle;
	padding: 1.5rem 1rem;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	width: 50px;
	text-align: left;
}
.table .image-text {
	display: flex;
	align-items: center;
}
.table .image-text img {
	width: 150px;
	height: 150px;
	border-radius: 1rem;
	object-fit: cover;
	margin-right: 1rem;
	flex-shrink: 0;
}
.table .image-list {
	display: flex;
	min-width: 10rem;
}
.table .image-list img {
	width: 3rem;
	height: 3rem;
	border-radius: 6px;
	object-fit: cover;
	margin-right: 1rem;
	flex-shrink: 0;
}
.table .tag {
	display: inline-block;
	padding: 1rem;
	color: #999;
	font-size: 1.2rem;
	text-align: center;
	background-color: #eee;
	border-radius: 1rem;
}

.item-name-title {
	// width: 400px;
	text-align: center;
}
.action-handel {
	background-color: #13d2b8;
	padding: 8px;
	color: white;
	border-radius: 10px;
	text-align: center;
	font-weight: 600;
	font-size: 13px;
}
.action-seen {
	// width: 100%;
	text-align: center;

	button {
		padding: 5px 10px;
		border: none;
		background-color: #5b71d2;
		color: white;
		border-radius: 10px;
	}
}
.img-3d {
	width: 400px;
}
.flex-3d {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: space-between;
}
.create-admin {
	width: 30px;
	height: 30px;
}
.admin-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.form-right {
	text-align: right !important;
}
