.modifier {
	position: absolute;
	right: -20px;
	top: 45%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	width: 60px;
	z-index: 14;
	border-radius: 34px;
	margin-right: 36px;
	padding: 10px;
	color: #4e5054;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition: border-radius 0.1s ease-in-out;

	.modifier__icon {
		cursor: pointer;
		padding: 14px;

		.icon {
			border-top: 2px solid #4e5054;
			i {
				font-size: 30px;
				padding: 10px;
			}
			&:first-child {
				border: none;
			}
		}
		.icon.active {
			color: #f3a952;
		}
	}
}

.modifier.mood {
	border-radius: 0 34px 34px 34px;
}

.modifier.focus {
	border-radius: 34px 34px 34px 0;
}

.modifierBox {
	position: absolute;
	right: 100%;
	top: -40%;
	background-color: rgba(0, 0, 0, 0.8);
	width: 370px;
	display: flex;
	flex-direction: column;
	padding: 15px 30px;
	transform-origin: right top;
	border-radius: 30px;

	.options {
		display: flex;
		span {
			font-family: "Roboto", sans-serif;
		}
		i {
			font-size: 40px;
		}

		.item {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			background-color: #14141d;
			margin: 10px;
			padding: 12px;
			width: 180px;
			height: 85px;
			border-radius: 12px;
		}

		.item.active {
			i {
				color: #f3a952;
			}
			color: white;
		}
	}

	h4,
	h5 {
		color: white;
		// font-weight: 700;
		font-size: 18px;
		font-family: "Roboto";
		line-height: 24px;
	}

	.volume {
		margin: 25px 0;
		color: #f3a952;

		.volume-slider {
			height: 8px;
			color: #f3a952;

			.MuiSlider-rail {
				color: #4e5054;
			}
		}
	}
}

// hide scrollbar but keep the function
.backgroundNoise::-webkit-scrollbar {
	display: none;
}

.backgroundNoise {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	.noise-option {
		p {
			margin-bottom: 0;
			font-family: "Roboto", sans-serif;
			color: rgba(252, 252, 252, 0.377);
		}
		.slider {
			height: 10px !important;
			color: #f3a952 !important;
			width: 180px !important;
			.MuiSlider-rail {
				color: #4e5054;
			}
		}

		padding: 5px 0;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-between;
	}
}
.form-message {
	position: absolute;
	right: 100%;
	top: -70%;
	background-color: #fff;
	width: 400px;
	flex-direction: column;
	padding: 15px 10px;
	transform-origin: right top;
	border-radius: 20px;
}
.message {
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2px solid #ddd;
		padding-bottom: 5px;
		padding-left: 20px;
		padding-right: 20px;
	}
	&-avatar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			object-fit: cover;
			border: 2px solid #fff;
		}
		span {
			display: inline-block;
			font-weight: 600;
			font-size: 18px;
		}
		.avatar-status {
			position: relative;
		}
		.avatar-border {
			width: 46px;
			height: 46px;
			padding: 3px;
			background: linear-gradient(
				200deg,
				#da3394 25%,
				#e03c67 50%,
				#f3753b 75%,
				#f99b4a
			);
			border-radius: 50%;
		}
		._status {
			width: 15px;
			height: 15px;
			border-radius: 100rem;
			background-color: #13d2b8;
			display: inline-block;
			position: absolute;
			right: 0;
			bottom: 0;
			box-shadow: 0 0 0 2px #fff;
		}
	}

	&-menu {
		display: flex;
		gap: 20px;
	}
	&-content {
		margin-top: 20px;
		height: 400px;
		overflow-y: auto;
		padding: 0 20px;
		margin-bottom: 15px;

		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 20px;
			background-color: rgb(180, 178, 178);
		}
	}
	&-guest {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-top: 20px;
		&-image {
			width: 40px;
			height: 40px;
			object-fit: cover;
			border-radius: 50%;
		}
		.guest-content {
			padding: 10px;
			background-color: #cdcdcd;
			border-radius: 10px;
			font-size: 13px;
			max-width: 200px;
		}
	}
	&-my {
		display: flex;
		gap: 10px;
		margin-top: 20px;
		justify-content: flex-end;
		&-image {
			width: 40px;
			height: 40px;
			object-fit: cover;
			border-radius: 50%;
		}
		.my-content {
			padding: 10px;
			background-color: #cdcdcd;
			border-radius: 15px;
			font-size: 13px;
			max-width: 200px;
		}
	}
	&-send {
		padding: 10px;
		border-top: 1px solid #cdcdcd;
		display: flex;
		align-items: center;
		gap: 10px;
		input {
			border: none;
			padding: 10px;
			width: 100%;
			font-size: 14px;
		}
		i {
			font-size: 25px;
		}
	}
}
.menu-item {
	width: 20px;
	height: 20px;
	img {
		width: 100%;
		height: 100%;
	}
}
