@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.signin-container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(https://images.unsplash.com/photo-1571974599782-87624638275e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80);
	background-repeat: none;
	background-size: cover;
	.back-home {
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
}
.signup {
	padding: 50px 50px;
	background-color: #fff;
	width: 100%;
	max-width: 500px;
	border-radius: 30px;
}
.signup-heading {
	font-size: 40px;
	font-weight: bold;
	color: #373941;
	text-align: center;
	margin-bottom: 35px;
}

.signup-social-icon {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #4c6ff4;
	font-size: 30px;
}
.signup-social-text {
	display: block;
	margin: 0 auto;
}
.signup-or {
	text-align: center;
	font-size: 16px;
	color: #999;
	margin: 30px auto;
	position: relative;
}
.signup-or span {
	display: inline-block;
	padding: 10px 30px;
	background-color: #fff;
	position: relative;
	z-index: 2;
}
.signup-or:after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #999;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.signup-label {
	font-size: 16px;
	color: #63676b;
	font-weight: 600;
	margin-bottom: 10px;
	display: inline-block;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
}
.signup-input {
	display: block;
	width: 100%;
	padding: 20px;
	border-radius: 14px;
	background-color: #f2f3f5;
	outline: none;
	border: 0;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
}
.signup-input::-webkit-input-placeholder {
	color: #b4bac0;
	font-weight: 500;
}
.signup-input::-moz-input-placeholder {
	color: #b4bac0;
	font-weight: 500;
}
.signup-submit {
	padding: 20px;
	color: white;
	font-size: 18px;
	text-align: center;
	border: 0;
	outline: none;
	display: inline-block;
	width: 100%;
	border-radius: 14px;
	background-color: rgb(130, 201, 30);
	font-family: "Poppins", sans-serif;
	cursor: pointer;
	font-weight: 600;
	box-shadow: 0 5px 10px 0 rgba(130, 201, 30, 0.5);
	margin-top: 25px;
	margin-bottom: 25px;
	&:hover {
		cursor: pointer;
		animation: jelly 0.5s;
	}

	@keyframes jelly {
		0%,
		100% {
			transform: scale(1, 1);
		}
		25% {
			transform: scale(0.9, 1.1);
		}
		50% {
			transform: scale(1.1, 0.9);
		}
		75% {
			transform: scale(0.95, 1.05);
		}
	}
}
.signup-already {
	text-align: center;
	font-size: 16px;
	color: #999;
}
.signup-login-link {
	color: #2979ff;
	text-decoration: none;
}
