* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}
img {
	border: 0;
	font-size: 0;
	line-height: 0;
	max-width: 100%;
}
h1,
h2,
h3 {
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
input {
	outline: none;
}
li {
	list-style: none;
}
button {
	font-family: "Roboto", sans-serif;
	transition: all 0.3s ease;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 25.114px;
}
span {
	font-family: "Roboto", sans-serif;
}
