:root {
	--yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
	--orange: #fca61f;
	--black: #242d49;
	--gray: #788097;
	--purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
	--pink: #eb3c50;
	--glass: rgba(255, 255, 255, 0.54);
	--boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
	--smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
	--activeItem: #f799a354;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}
img {
	border: 0;
	font-size: 0;
	line-height: 0;
	max-width: 100%;
}
h1,
h2,
h3 {
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
input {
	outline: none;
}
li {
	list-style: none;
}
button {
	font-family: "Roboto", sans-serif;
	transition: all 0.3s ease;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 25.114px;
}
span {
	font-family: "Roboto", sans-serif;
}
